
i
nodes.info
0v
GMIN_out
ef.*
*.mek*
*.mod
*.o
*.a
BUILDS/
GMIN/source/porfuncs.f90
DISCONNECT/source/manipulate
DISCONNECT/source/disconnectionDPS
*~
.*.swp
*.bmp
*.eps
*.tiff
*.png
*.nav
*.snm
*.aux
*.bbl
*.log
*.loa
*.pfg
*.blg
*.ps
*.pdf
*.dvi
*.out
*.toc
*.bak
*.lof
*.lot
*.d
*.dmp
*.idx
*.ist
*.glg
*.glo
*.gls

G/bspt.f
G/deps.mk
G/dv.f90
G/false.in
G/inc.mk
G/main.f
G/mc.f
G/porfuncs.f90
G/rca.f90
G/t.mk
G/tags
G/true.in
GMIN/deps.mk
GMIN/porfuncs.f90
OPTIM/deps.mk
OPTIM/dv.f90
OPTIM/porfuncs.f90
OPTIM/rca.f90
PATHSAMPLE/deps.mk
PATHSAMPLE/dv.f90
PATHSAMPLE/porfuncs.f90
PATHSAMPLE/rca.f90
bin/
pbs/s/.nfs00000000300000650000008d
pbs/s/383339.E
pbs/s/data
pbs/s/n
pbs/sh/
scripts/all/cpd
scripts/all/n
scripts/all/t.jmol
scripts/all/tmp/
scripts/op/lastargs
scripts/op/mav
scripts/op/t
sim/.nfs0000000024ad66830000008f
sim/deps
sim/deps.mk
sim/dv.f90
sim/fort.15
sim/gmi
sim/porfuncs.f90
sim/rca.f90
utils/fort.15
