
i
nodes.info
0v
GMIN_out
ef.*
*.oo
*.mek*
*.mod
*.o
*.a
n.*.*
BUILDS/
GMIN/source/porfuncs.f90
DISCONNECT/source/manipulate
DISCONNECT/source/disconnectionDPS
[0-9]*
*~
*.le
*.ea
*.out
.*.swp
*.bmp
*.eps
*.tiff
*.png
*.nav
*.snm
*.aux
*.bbl
*.log
*.loa
*.pfg
*.blg
*.ps
*.pdf
*.dvi
*.out
*.toc
*.bak
*.lof
*.lot
*.d
*.dmp
*.idx
*.ist
*.glg
*.glo
*.gls

G/bspt.f
G/deps.mk
G/dv.f90
G/main.f
G/mc.f
G/porfuncs.f90
G/rca.f90
G/t.mk
G/tags
G/G
GMIN/deps.mk
GMIN/porfuncs.f90
OPTIM/deps.mk
OPTIM/dv.f90
OPTIM/porfuncs.f90
OPTIM/rca.f90
PATHSAMPLE/deps.mk
PATHSAMPLE/dv.f90
PATHSAMPLE/porfuncs.f90
PATHSAMPLE/rca.f90
bin/
pbs/s/.nfs00000000300000650000008d
pbs/s/383339.E
pbs/s/data
pbs/s/n
pbs/sh/
scripts/all/cpd
scripts/all/n
scripts/all/t.jmol
scripts/all/tmp/
scripts/op/lastargs
scripts/op/mav
scripts/op/t
sim/.nfs0000000024ad66830000008f
sim/deps
sim/deps.mk
sim/dv.f90
sim/fort.15
sim/gmi
sim/porfuncs.f90
sim/rca.f90
utils/fort.15

B/B
B/deps.mk
B/dv.f90
B/kwsim.f90
B/out
B/tags
G/bG
G/c.potential.f90
G/n
G/old/
G/tgo
Gb/Gb
Gb/def.mk
Gb/mylbfgs.diff
Gb/out
pbs/s/17-09-11/
pbs/s/GMIN.dump
pbs/s/GMIN.dump.save
pbs/s/coords
pbs/s/fort.22980
pbs/s/lowest
pbs/s/out
pbs/s/zf/GMIN.dump
pbs/s/zf/GMIN.dump.save
pbs/s/zf/lowest
pbs/s/zf/out
pbs/s/zf/out.diff
scripts/all/false.in
scripts/all/rca.Gbb.i.sh
scripts/all/true.in
B/c.iom.f90
B/ea
B/old/
O/dv.f90
O/porfuncs.f90
O/rca.f90
P/deps.mk
P/dv.f90
P/porfuncs.f90
P/rca.f90
pbs/s/ea
pbs/s/zf/ea
pbs/s/zf/fort.677218679
pbs/s/zf/g46.ea
pbs/s/zf/mbln.diff
pbs/s/zf/mbln.ea
pbs/s/zf/out.bln
pbs/s/zf/out.mbln
B/deps
G/out
P/Makefile
P/main.f
P/rbinertia.f90
pbs/s/384344/
pbs/s/384355/
pbs/s/384366/
pbs/s/384367/
pbs/s/384368/
pbs/s/384369/
pbs/s/384370/
pbs/s/384371/
pbs/s/ea.1.tex
pbs/s/ea.2.tex
pbs/s/ea.3.tex
pbs/s/ea.4.tex
pbs/s/ea.5.tex
pbs/s/ea.6.tex
pbs/s/ea.8.tex
pbs/s/j.1.tex
pbs/s/j.2.tex
pbs/s/j.3.tex
pbs/s/j.4.tex
pbs/s/j.5.tex
pbs/s/j.6.tex
pbs/s/j.7.tex
pbs/s/j.8.tex
pbs/s/j.tex
pbs/s/sto
pbs/s/zf/.nfs0000000019b2b96e00000146
