

*.mod
*.o
BUILDS/
GMIN/source/porfuncs.f90
*~
.*.swp
*.bmp
*.eps
*.tiff
*.png
*.nav
*.snm
*.aux
*.bbl
*.log
*.loa
*.pfg
*.blg
*.ps
*.pdf
*.dvi
*.out
*.toc
*.bak
*.lof
*.lot
*.d
*.dmp
*.idx
*.ist
*.glg
*.glo
*.gls
